#WHOLE_PAGE
{
	display: flex;
	background-color: #FFF9F0;
}

nav, main, footer
	{border: 2px solid black;}

h1
{
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	background-color: #C4C4C4;
	border-radius: 45px;
	margin: 0px;
	padding: 50px 27%;
}

main
{
	flex: 1;
}

nav
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 3px solid black;
}

nav >a:first-child	
{
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
	margin: 0px 10px 45px;
}

nav
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav >a:nth-child(n+2)
{
	font-size: 20px;
	margin-bottom: 20px;
}

nav >div:nth-child(2n)
{
	margin-bottom: 10px;
}

footer >div
	{border: 2px grey;}

footer
{
	background-color: #FFF9F0;
	grid-area: 2/1/2/3;
	display: grid;
	grid: 1fr / 1fr 120px 1fr;
}

footer >div >p
{
	margin-bottom: 3px; 
	margin-top: 3px;
	text-align: center;
	font-size: 0.9em;
	line-height: 19px;
	height: 19px;
}

footer >div:first-child
{
	text-align: right;
	line-height: 50px;
	height: 50px;
	font-size: 1.4em;
}

footer >div:last-child
{
	text-align: left;
	line-height: 50px;
	height: 50px;
	font-size: 1.4em;
}

p{
	font-size: 24px;
	margin-left: 10px;
	margin-right: 10px;
}

h2{
	font-size: 48px;
}

li
	{font-size: 24px;}

html
	{scrollbar-width: none;}

a
{text-decoration: none;}

ul
	{padding: 0px 0px 0px 60px;}

ol{
	list-style-type:none;
}