#Chunk1
{
	display: grid;
	grid: 1fr 5fr / 1fr 1fr;
	height: 420px;
}

#Chunk1 >h2, #Chunk2 >h2
{
	grid-area: 1/1 / 1/3;
	font-size: 48px;
	margin: 30px 0px 18px 100px;
}

#PurpleBlock_left
{
	background-color: #B666D2;
	border-right: 1px solid black;
	border-radius: 1em 0px 0px 1em;
	margin: 0px 0px 0px 35px;
	height: 300px;
}

#PurpleBlock_right
{
	background-color: #B666D2;
	border-left: 1px solid black;
	border-radius: 0px 1em 1em 0px;
	margin: 0px 35px 0px 0px;
	height: 300px;
}

#PurpleBlock_left >p, #PurpleBlock_right >p
{
	padding: 0px 15px 0px;
	font-size: 22px;
}

#Chunk2
{
	display: grid;
	grid: 1fr 2fr / 70% 30%;
	height: 250px;
}

#Chunk2 >div
{
	font-size: 24px;
	text-align: center;
	height: 70px;
	line-height: 35px;
	padding: 5px 0px;
	margin: 0px 35px;
	background-color: #22D89F;
	border-radius: 1em;
}

#Chunk2 >h3
{
	font-size: 32px;
	text-align: center;
	margin: -35px 40px 0px 0px;
}