.red-box{
	background: #FF3030;
	border-radius: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 80%
}

.blue-box{
	background: #15BBDA;
	border-radius: 20px;
	text-align: center;
	grid-area: 2/1/4/1;
	margin-right: 50px;
	margin-bottom: 35px;
	margin: 35px 50px 35px 35px;
}
.green-box{
	background: #50BB50;
	border-radius: 20px;
	text-align: center;
	grid-area: 1/2/3/2;
	margin: 35px 35px auto 35px;
}

#first_etage{
	display: grid;
	grid: 25% 75/1fr 1fr 1fr;
/*
	gap: 2% 4%;
*/
	
}

#first_etage > div:{
	margin: 1em 0;
	height: 16px;
	line-height: 16px
}

#first_etage > div:nth-child(2){
	margin-left: 20%;
}

#first_etage > div:last-child{
	margin-right: 20%;
}

#first_etage > div:nth-child(3),#first_etage > div:nth-child(4){
	margin-left: 10%;
}

#first_etage > div:nth-child(2),#first_etage > div:nth-child(3){
	margin-right:10%;
}

#title{
	grid-area: 1/1/1/4;
}

#second-floor{
	display: grid;
	grid: 1fr 1fr 1fr/ 2fr 1fr;
}

#do{
	grid-area: 1/1/1/1;
	margin-top:auto;
	margin-bottom: 0;
}

#leave{
	grid-area: 3/2/3/3;
	margin-top:0;
	margin-bottom:auto;
	text-align: right;
	margin-right: 35px;
}

.left-mar{
	margin-left: 3em;
}

#p_ho{
	margin-top: 50px;
	margin-bottom: 10px;
}

#p_ba{
	margin-bottom: 50px;
	margin-top: 10px;
}