#chunk1{
	display: grid;
	grid: 20% 70% 10%/ 60% 40% ;
}

#parrainage{
	grid-area: 2/1/4/1;
	background-color: #1AF5DA;
	border-radius: 20px;
	margin: 35px 35px auto 35px;
	text-align:center;
}

#title_parrain{
	grid-area: 1/1/1/1;
	margin-left: 35px;
	text-align: center;
}

#bde{
	grid-area: 1/2/3/2;
	background-color: #FF870F;
	border-radius: 20px;
	height: 80%;
	margin: 35px 35px 0 35px;
	text-align: center;
}

#title_bde{
	grid-area: 3/2/4/2;
	margin-top: -1em;
	margin-left: 35px;
	text-align: center;
}

#chungus > h2{
	margin-left: 35px;
}

#chungus > div{
	text-align: center;
	background-color: #E65FD6;
	margin: 35px 35px auto 35px;
	border-radius: 20px;
}
