body
{
	margin: 0px 10%;

}

#WHOLE_PAGE
{
	display: flex;
	flex-direction: column;
	background-color: #FFF9F0;
}
div
	{background-color: #C4C4C4;}

header >img
{
	width: 100%;
	height: 412px;	
}
h1
{
	font-size: 48px;
	text-align: center;
	color: #FF870F;
	margin-bottom: 0px;
}
h2
{
	font-size: 32px;
	text-align: center;
	margin: 40px 0px 60px;
}
header >p
{
	font-size: 28px;
	font-style: italic;
	margin: 8px 0px 40px 40%;
}
#PLAN
{
	display: grid;
	grid: 1fr 1fr / 1fr 1fr;
	height: 800px;
}
ol
{
	font-size: 20px;
	margin: 100px 0px;
	width: 550px;
}
li
	{margin: 0px 100px 50px 0px;}
#PLAN >p
{
	grid-area: 2/1 / 2/3;
	font-size: 24px;
	margin-left: 230px;
}

#SITE
{
	display: grid;
	grid: 1fr / 2fr 70px 1fr;
	height: 120px;
	line-height: 120px;
}
#SITE >div
{
	height: 60px;
	text-align: center;
	background: #C4C4C4;
}
#SITE >div:first-child
{
	line-height: 60px;
	text-align: center;
	font-size: 28px;
}
#SITE >div:last-child
{
	line-height: 60px;
	text-align: left;
	font-size: 36px;
}
#SITE >div >p
{
	line-height: 30px;
	margin: 0px;
	text-align: center;
	font-size: 24px;
}

#LIEN
{
	display: grid;
	grid: 1fr 1fr / 1fr 1fr 1fr;
}
#LIEN >div
{
	margin: 0px 20px 50px;
	border-radius: 50%;
	height: 150px;
	line-height: 150px;
	text-align: center;
}
#LIEN >div >a
{
	display: inline-block;
	font-size: 25px;
}
#LIEN >div:first-child
	{grid-area: 1/1 / 1/1;}
#LIEN >div:nth-child(even)
	{grid-area: 2/2 / 2/2;}
#LIEN >div:last-child
	{grid-area: 1/3 / 1/3;}

footer >div
	{background-color: #FFF9F0;}
footer
{
	border: 3px solid black;
	grid-area: 2/1/2/3;
	display: grid;
	grid: 1fr / 1fr 120px 1fr;
}
footer >div >p
{
	margin-bottom: 3px; 
	margin-top: 3px;
	text-align: center;
	font-size: 0.9em;
	line-height: 19px;
	height: 19px;
}
footer >div:first-child
{
	text-align: right;
	line-height: 50px;
	height: 50px;
	font-size: 1.4em;
}
footer >div:last-child
{
	text-align: left;
	line-height: 50px;
	height: 50px;
	font-size: 1.4em;
}